@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #00ff00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --animate-flicker: flicker 0.15s infinite;
  @keyframes flicker {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.9; }
  }
}

body {
  height: 100%;
  overflow: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: monospace;
  font-size: 1.2em;
  
  /* perspective: 1000px; */
}

/* .crt{
  transform: rotate3d(1, 0, 0, 2deg);
} */

.crt-overlay {
  background: linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, 0.03) 50%);
  background-size: 100% 10px;
  
  animation: scanlines .7s linear infinite; 
}

@keyframes scanlines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 10px; 
  }
}